:root {
  --primary-color-text: #fff;

  --bg-main: #0f103f;
  --bg-header: #080922;

  --bg-button-primary: rgba(255, 255, 255, 0.3);
  --bg-button-secondary: rgb(201, 97, 222);
  --bg-button-secondary-gradient: linear-gradient(
    130deg,
    rgba(201, 97, 222, 1) 21%,
    rgba(41, 84, 163, 1) 83%
  );
  --color-button-shadow: rgba(240, 240, 240, 0.1);
}

.color-text-primary {
  color: var(--primary-color-text);
}
