body {
  background-color: #0f103f;
  overflow-x: hidden;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 100px;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1440px;
  padding-inline: 48px;
  margin: auto;

  box-sizing: border-box;
}

section,
footer {
  padding-top: 160px;
}

@media (max-width: 600px) {
  body {
    gap: 50px;
  }

  section,
  footer {
    padding-top: 80px;
  }
}
