#home {
  padding-top: 165px;
}

#home .conteudo {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

#home .container h1 {
  max-width: 21ch;
  text-align: center;
}

#home .container .home-links {
  display: flex;
  justify-content: center;
  gap: 24px;
}

@media (max-width: 900px) {
  #home {
    padding-top: 100px;
  }
}

@media (max-width: 700px) {
  #home {
    padding-top: 0;
  }

  #home .container h1 {
    text-align: center;
  }
}

@media (max-width: 500px) {
  #home .conteudo {
    gap: 32px;
  }

  #home .container .home-links {
    flex-direction: column;
    gap: 16px;
  }
}
